.Card{
    display: flex;
    max-height: 100%;
    max-width: 100%;
    margin: 50px;
}
.der{
    width: 40%;
    text-align: center;
    margin-inline: auto;
}
.finalizar{
    background: rgba(145, 87, 0, 0.795);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 25px;
    text-decoration: none;
}
.seguir{
    background: rgba(145, 87, 0, 0.795);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    margin-top: 30px;
}