.counter{
    text-align: center;
    
}
.button{
    background: rgb(245 162 36 / 80%);
    color: white;
    border-radius: 10px;
    font-size: 25px;
    width: 50px;
}
.button:hover{
    color: rgb(3, 112, 255);
}
.Agregar{
    background: rgb(245 162 36 / 80%);
    color: white;
    border-radius: 10px;
    font-size: 25px;
}
.Agregar:hover{
    color: rgb(3, 112, 255);
}
.controls{
    display: flex;
    justify-content: space-evenly;
}